<div class="w-full mx-auto flex-col">
    <div class="flex flex-row py-5 px-6 bg-gray-600 bg-opacity-10">
        <div class=" flex-shrink w-full">
            <h2 class="text-5xl font-extrabold tracking-tight mr-6">
                Risco
            </h2>
        </div>
        <div class="my-1 flex-shrink-0 pt-1">
            <button mat-stroked-button type="menu" class="bg-accent-50 text-on-accent-300 p-3 ">Cancelar</button>
            <button mat-flat-button type="submit" class="mx-2 p-3 bg-primary text-on-primary">Salvar</button>
        </div>
    </div>
    <div class="max-w-320">
        <div class="flex-col mx-6">
            <mat-tab-group [animationDuration]="'250ms'">
                <mat-tab label="Identificação do Risco">
                    <div class="max-w-200">
                        <mat-form-field class="flex">
                            <mat-label>Classificação do risco*</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="max-w-200 flex">
                        <mat-form-field class="w-full flex-shrink">
                            <mat-label>Objetivo(s) Estratégico(s)*</mat-label>
                            <input matInput [(ngModel)]="objetivoEstrategico">
                        </mat-form-field>
                        <div class="flex-shrink-0 pt-1 mt-6">
                            <button mat-flat-button (click)="salvarObjetivo()"
                                class="bg-primary text-on-primary p-3 ml-1"><mat-icon svgIcon="heroicons_outline:plus"
                                    class="pr-1.5"></mat-icon>Incluir</button>
                        </div>

                    </div>

                    <div class="w-full mb-6">
                        <div class="shadow-sm overflow-y-auto max-h-50 border-2 rounded-md">
                            <div class="p-2 pt-1 flex justify-between items-center border-b-2 border-gray-600 border-opacity-20"
                                *ngFor="let objetivo of objetivosEstrategicos">
                                <span class="">{{ objetivo.objetivoEstrategico }}</span>
                                <button class="">
                                    <mat-icon class="hover:text-red-600 mt-3 ml-2"
                                        svgIcon="heroicons_outline:trash"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="max-w-200 flex">
                        <mat-form-field class="w-full flex-shrink">
                            <mat-label>Objetivo(s) Operacional(is)*</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <div class="flex-shrink-0 pt-1 mt-6">
                            <button mat-flat-button type="submit" class="bg-primary text-on-primary p-3 ml-1"><mat-icon
                                    svgIcon="heroicons_outline:plus" class="pr-1.5"></mat-icon>Incluir</button>
                        </div>
                    </div>
                    <div class="w-full mb-6">

                    </div>
                </mat-tab>
                <mat-tab label="Causa(s)">
                    <textarea>
          BBBBBBBBBBBB
        </textarea>
                </mat-tab>
                <mat-tab label="Controle(s) Preventivo(s)">
                    <textarea>
          CCCCCCCCCCCCCC
        </textarea>
                </mat-tab>
                <mat-tab label="Evento de Risco">
                    <textarea>
          DDDDDDDDDDDDDDD
        </textarea>
                </mat-tab>
                <mat-tab label="Consequência(s)">
                    <textarea>
          EEEEEEEEEEEEEEEE
        </textarea>
                </mat-tab>
                <mat-tab label="Controle(s) Corretivo(s)">
                    <textarea>
          FFFFFFFFFFFFFF
        </textarea>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>